.container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    width: 600px;
    height: 350px;
    display: flex; /* Center content */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    margin-left: auto; /* Center the container */
    margin-right: auto; /* Center the container */
    margin-top: 180px;
    transition: transform 0.3s ease;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.button-wrapper {
    display: flex; /* Row layout */
    justify-content: center; /* Center buttons horizontally */
    gap: 40px; /* Space between button containers */
}

.button-container {
    display: flex;
    flex-direction: column; /* Stack button and label vertically */
    align-items: center; /* Center items horizontally */
}

.continue-application, .continue-application1 {
    background-color: #EAC42D; /* Button background color */
    color: #fff; /* Text color */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Font size */
    font-weight: 500; /* Font weight */
    line-height: 19px; /* Line height */
    padding: 15px; /* Padding */
    width: 200px; /* Button width */
    height: 170px; /* Button height */
    display: flex; /* Flexbox for alignment */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background 0.3s, transform 0.3s; /* Transition effects */
    background-image: url("/public/Images/cv-graphic.png"); /* Background image for CV button */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-position: top;
    
}

.continue-application1 {
    background-image: url("/public/Images/project-proposal.png"); /* Background image for Proposal button */
}

.continue-application:hover, .continue-application1:hover {
    background-color: rgb(254, 239, 179); /* Background color on hover */
    transform: scale(1.05); /* Scale effect on hover */
}

.label {
    margin-top: 10px; /* Space between button and label */
    font-size: 16px; /* Font size for label */
    color: #333; /* Color for label */
    text-align: center; /* Center text */
    transition: color 0.3s; /* Transition for color change */
}

.continue-application:hover + .label, .continue-application1:hover + .label {
    color: #EAC42D; /* Change label color on button hover */
}
